
<h2><%= link_to("Maxims","/maxims") %></h2>
<p>
  <%= link_to("新規作成","/maxims/new") %>
</p>

<h2><%= link_to("Articles","/articles") %></h2>
<p>
  <%= link_to("新規作成","/articles/new") %>
</p>

<h2><%= link_to("Exhibitions","/exhibitions") %></h2>
<p>
  <%= link_to("新規作成","/exhibitions/new") %>
</p>

<h2><%= link_to("schools","/schools") %></h2>
<p>
  <%= link_to("新規作成","/schools/new") %>
</p>
