<%= form_with(model: maxim, local: true) do |form| %>
  <% if maxim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maxim.errors.count, "error") %> prohibited this maxim from being saved:</h2>

      <ul>
      <% maxim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :maxim_content %>
  </div>

  <div class="field">
    <%= form.label :meaning %>
    <%= form.text_area :meaning, id: :maxim_meaning %>
  </div>

  <div class="field">
    <%= form.label :person %>
    <%= form.text_field :person, id: :maxim_person %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
