<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @school.category %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @school.ward %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Station:</strong>
  <%= @school.station %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @school.day_of_week %>
</p>

<p>
  <strong>Teacher name:</strong>
  <%= @school.teacher_name %>
</p>

<p>
  <strong>Teacher profile:</strong>
  <%= @school.teacher_profile %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @school.fee %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
